@import "bootstrap.less";

html, body { height: 100% }
img {
    max-width: 100%;
    height: auto;
}

@gap: 55px;
.gap {
    margin-bottom: @gap;
}

.title {
    margin-top: 0;
}
.relative {
    position: relative;
}

.spinner {
    margin: 0px auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;

    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: @brand-primary;
    border-radius: 100%;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}

#header {
    .logo {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #main-menu-nav {
        padding-top: 20px;
        padding-left: 50px;
    }
    #main-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        > li {
            display: inline-block;
        }
        a {
            display: block;
            padding: 5px 15px;
            font-size: 1.0625em;
            .transition(color .3s);
            &:hover {
                color: @brand-success;
            }
        }
        li.current-menu-item > a {
            color: @brand-success;
        }
    }
    .create-website {
        display: inline-block;
        margin-top: 15px;
        padding: 8px 25px;
        border-radius: 20px;
        font-size: 1.125em;
        background-color: @brand-success;
        color: #fff;
        .transition(background-color .3s);
        &:hover {
            background-color: @brand-primary;
        }
    }
    @media (max-width: 991px) {
        .header-logo {
            width: 100%;
        }
        #main-menu-nav {
            padding-left: 0;
            margin-bottom: 15px;
        }
    }
}

#main-slider {
    min-height: 600px;
    background: url(../img/main-background.jpg) left top fixed;
    position: relative;
    > .hover {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background: rgba(5, 38, 55, 0.85);
    }
    .text-wrap {
        position: relative;
        z-index: 1;
        color: #fff;
        padding-top: 160px;
        .title {
            font-size: 3em;
            line-height: 1.375em;
            margin-bottom: 30px;
        }
        .sub-title {
            font-size: 1.75em;
            margin-bottom: 40px;
        }
        .create-website {
            display: inline-block;
            padding: 12px 35px;
            border-radius: 40px;
            background-color: @brand-success;
            font-size: 1.75em;
            color: #fff;
            .transition(background-color .3s);
            &:hover {
                background-color: @brand-primary;
            }
        }
    }
    @media (max-width: 991px) {
        .text-wrap {
            .title { font-size: 2.5em }
        }
    }
}

.section {
    .section-title {
        font-size: 2.25em;
    }
    .section-sub-title {
        line-height: 1.2em;
        margin-bottom: 40px;
    }
}

#main-featured {
    .section-content {
        .item {
            .item-title {
                font-size: 1.375em;
                font-weight: normal;
                color: @brand-primary;
                margin-top: 25px;
                margin-bottom: 7px;
            }
        }
        @media (max-width: 767px) {
            .item { text-align: center }
        }
    }
}

#main-action {
    background: url(../img/action-bg.jpg) left top;
    color: #fff;
    padding: 60px 0;
    .title {
        font-size: 1.625em;
        margin-bottom: 0;
        padding-top: 9px;
    }
    .create-website {
        display: inline-block;
        padding: 8px 25px;
        font-size: 1.375em;
        border-radius: 40px;
        color: #fff;
        background-color: @brand-success;
        .transition(all .3s);
        &:hover {
            background-color: #fff;
            color: @brand-success;
        }
    }
    @media (max-width: 1199px) {
        padding-top: 40px;
        padding-bottom: 40px;
        .title {
            font-size: 1.375em;
        }
    }
    @media (max-width: 991px) {
        .pull-left, .pull-right { float: none !important }
        .title { margin-bottom: 20px }
    }
}

#templates-store {
    .section-content {
        .wrap {
            margin-bottom: 40px;
            .template-title {
                font-weight: normal;
            }
            .relative {
                padding: 8px;
                border: solid 1px #e8e8e8;
                border-radius: 1px;
                .hover {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: #fff;
                    opacity: 0;
                    .transition(opacity .3s);
                }
                .action {
                    z-index: 2;
                    text-align: center;
                    position: absolute;
                    top: 35%;
                    left: 50%;
                    width: 130px;
                    margin-left: -65px;
                    .transition(top .3s);
                    a.button {
                        display: block;
                        opacity: 0;
                        background-color: @brand-success;
                        padding: 6px 0;
                        border-radius: 20px;
                        color: #fff;
                        margin-bottom: 14px;
                        .transition(background-color .3s);
                        &:hover {
                            background-color: @brand-primary;
                        }
                    }
                }
            }
            &:hover {
                .relative {
                    border-color: #ddd;
                }
                .hover { opacity: .8 }
                .action {
                    top: 40%;
                    a.button {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .more-templates {
        display: inline-block;
        padding: 8px 25px;
        font-size: 1.375em;
        border-radius: 40px;
        color: #fff;
        background-color: @brand-primary;
        .transition(background-color .3s);
        &:hover {
            background-color: @brand-success;
        }
    }
}

#seo-detail {
    background-color: #e9f6ff;
    border-top: solid 1px #daecf9;
    border-bottom: solid 1px #daecf9;
    padding-top: 50px;
    padding-bottom: 10px;
    .section-content {
        > .row > div {
            margin-bottom: 40px;
            img {
                margin-bottom: 15px;
            }
            .title { font-weight: normal; color: @brand-primary; font-size: 1.25em; text-align: center; }
            p { font-weight: 300; text-align: justify }
        }
    }
}

#testimonial {
    .customer {
        padding-top: 20px;
        .tell {
            font-size: 1.125em;
            color: #000;
            font-weight: 300;
            margin-bottom: 20px;
            &:before {
                content: "";
                display: block;
                width: 58px;
                height: 43px;
                background: url(../img/quote-icon.png) no-repeat;
                margin: 0 auto 15px;
            }
        }
        .avatar {
            margin-bottom: 10px;
        }
        .name {
            font-size: 1.125em;
            font-weight: 300;
            margin-bottom: 0px;
        }
        .link {
            font-weight: 300;
        }
    }
}

.search-form {
    position: relative;
    max-width: 340px;
    margin: 0 auto;
    input {
        width: 100%;
    }
    button {
        position: absolute;
        top: 0;
        right: 0;
        background: transparent;
        color: @brand-success;
        border: none;
        &:hover {
            background: transparent;
        }
    }
}

/** archive **/

.blog-header {
    padding-top: 30px;
    padding-bottom: 35px;
    margin-bottom: 40px;
    background: url(../img/breadcrumbs-bg.jpg);
    color: #fff;
    a {
        color: @brand-success;
        &:hover {
            color: @brand-primary;
        }
    }
    .page-title {
        margin-bottom: 0;
    }
}

#breadcrumbs {
    margin-bottom: 10px;
}

.page-title {
    font-size: 2em;
    &:after {
        content: "";
        width: 200px;
        height: 1px;
        background: #999;
        display: block;
        margin-top: 5px;
    }
}

.main-archive {
    margin-bottom: 50px;
}

.posts-standard {
    article.post {
        margin-bottom: 30px;
        .post-thumbnail {
            float: left;
            margin-right: 20px;
            border: solid 1px #ddd;
            padding: 5px;
            display: block;
            border-radius: 2px;
            &:hover {
                box-shadow: 0 0 8px -3px #999;
            }
        }
        .post-title {
            font-size: 1.25em;
            font-weight: normal;
            margin-top: 3px;
        }
        .post-meta {
            color: #999;
            font-size: 0.9375em;
            margin-bottom: 5px;
        }
        .post-excerpt {
            color: #555;
            text-align: justify;
        }
    }
}

.main-single {
    margin-bottom: 50px;
    .content {
        > article {
            > .post-meta {
                color: #999;
                margin-bottom: 15px;
            }
            .post-content {
                line-height: 1.6em;
                margin-bottom: 40px;
            }
        }
    }
}

.main-404 {
    margin-bottom: 50px;
}

/** demo page **/
body.page-template-template-demo {
    #header, #bottom-action, #footer, #copyright { display: none }
    .main-demo {
        width: 100%; height: 100%;
    }
    #demo-nav {
        background: url(../img/footer-bg.jpg);
        padding-top: 10px;
        height: 70px;
        .create-website {
            display: inline-block;
            margin-top: 6px;
            padding: 6px 23px;
            border-radius: 20px;
            font-size: 1.125em;
            background-color: @brand-success;
            color: #fff;
            .transition(all .3s);
            &:hover {
                background-color: #fff;
                color: @brand-primary;
            }
        }
    }
    #demo-container {
        position: relative;
        width: 100%;
        #demo-section {
            max-width: 100%;
            max-height: 100%;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            overflow-y: auto;
            > iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: none;
            }
        }
    }
}

/** create website modal **/

#create-website-modal {
    > .modal-dialog {
        margin-top: 60px;
        #create-website-modal-hover {
            position: fixed;
            top: 0; left: 0;
            width: 100%; height: 100%;
            display: none;
            background: rgba(255, 255, 255, 0.6);
            z-index: 1;
            border-radius: 3px;
            .spinner {
                top: 50%;
                margin-top: -20px;
            }
        }
        .modal-header {
            border-bottom: none;
            padding-bottom: 0;
        }
        .modal-title {
            color: @brand-primary;
            margin-top: 10px;
        }
        .modal-sub-title {
            margin: 0;
            font-size: 1em;
        }
    }
    .modal-body {
        padding-left: 25px;
        padding-right: 25px;
        input, select {
            margin-bottom: 15px;
        }
        #create-website-message {
            color: @brand-danger;
            font-size: 0.875em;
        }
        p.help {
            color: #888;
            font-size: 0.875em;
            margin-top: -10px;
        }
        #policy-tick {
            cursor: pointer;
            font-weight: 300;
            i {
                color: #ddd;
            }
            &.ticked {
                i { color: @brand-primary }
            }
        }
    }

    button.close {
        position: absolute;
        float: none;
        top: -20px;
        right: -20px;
        background-color: @brand-primary;
        color: #fff;
        opacity: 1;
        width: 40px;
        height: 40px;
        z-index: 2;
        border-radius: 50%;
        .transition(background-color .3s);
        &:hover {
            background-color: @brand-success;
        }
    }
}

/** sidebar **/
.sidebar {
    .widget {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                padding: 5px 0;
            }
        }
    }
}

/** footer **/

#bottom-action {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
    background: @brand-primary;
    .title {
        font-size: 1.75em;
        margin-bottom: 15px;
    }
    .sub-title {
        font-size: 1.25em;
        margin-bottom: 18px;
    }
    form {
        input {
            border: none;
            padding: 10px 25px;
            border-radius: 40px;
            font-size: 1.25em;
            color: #888;
            margin-right: 10px;
            @media (min-width: 992px) {
                min-width: 440px;
            }
        }
        button {
            padding: 10px 25px;
            border: none;
            border-radius: 40px;
            background-color: @brand-success;
            font-size: 1.25em;
            .transition(all .3s);
            &:hover, &:focus {
                background-color: #fff;
                color: @brand-success;
            }
        }
    }
}

#footer {
    background: url(../img/footer-bg.jpg) repeat;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #c5c5c5;
    font-size: 0.9375em;
    a {
        color: #c5c5c5;
        &:hover {
            color: #fff;
        }
    }
    .widget-title {
        color: #fff;
        font-size: 1.125em;
        margin: 0 0 20px 0;
        font-weight: normal;
    }
    ul.menu {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            padding: 8px 0;
            border-bottom: dotted 1px #5d5c61;
            &:before {
                content: "\f105";
                font-size: 0.875em;
                font-family: FontAwesome;
                margin-right: 7px;
            }
        }
    }
}

#copyright {
    padding-top: 18px;
    padding-bottom: 18px;
    background: #1f1f1f;
    color: #c5c5c5;
    font-size: 0.9375em;
}

#up-button {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: @brand-success;
    text-align: center;
    cursor: pointer;
    border: solid 2px #fff;
    display: none;
    &:hover {
        background: @brand-primary;
    }
    i {
        color: #fff;
        font-size: 1.5em;
    }
}